.area-select-box
    position absolute
    border 1px solid black
    box-sizing border-box
    z-index 1
    cursor nwse-resize /* 指定鼠标样式为可改变大小的角落 */

    &.grid-line
        &::before
            content: " "
            box-sizing: border-box
            position: absolute
            border: 1px solid hsla(0, 0%, 100%, .5)
            top: 0
            bottom: 0
            left: 33.33%
            right: 33.33%
            border-top: 0
            border-bottom: 0
        &::after
            content: " "
            box-sizing: border-box
            position: absolute
            border: 1px solid hsla(0, 0%, 100%, .5)
            top: 33.33%
            bottom: 33.33%
            left: 0
            right: 0
            border-left: 0
            border-right: 0

.drag-button
    position absolute
    width 20px
    height 20px
    border-radius 50%
    background-color black
    transform translate(-50%, -50%)

    &::after
        position: absolute
        left: -.5em
        right: -.5em
        top: -.5em
        bottom: -.5em
        border-radius: inherit
        content: ""

    &-top
        left 0
        top 0
    &-right
        right 0
        top 0
        transform translate(50%, -50%)
    &-bottom
        right 0
        bottom 0
        transform translate(50%, 50%)
    &-left
        left 0
        bottom 0
        transform translate(-50%, 50%)